<ion-header>
		<ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button color="primary" class="back-button-custom" text=""></ion-back-button>
          </ion-buttons>
          <ion-title class="sitio-title">Favoritos<ion-icon name="heart-empty" color="primary"  class="heartone"></ion-icon></ion-title>
      </ion-toolbar>
</ion-header>

<ion-content padding>
		<ion-buttons>
			<ion-button fill="outline" shape="round" size="small" class="filter-button" routerLink="/favoritos" routerLinkActive="active">Lugares</ion-button>
			<ion-button fill="outline" shape="round" size="small" class="filter-button" routerLink="/experiencias" routerLinkActive="active">Experiencias</ion-button>
			<ion-button fill="outline" shape="round" size="small" class="filter-button" routerLink="/articulos" routerLinkActive="active">Artículos</ion-button>
		</ion-buttons>
		<ion-grid>
			<ion-row>
				<ion-col size="6">
					<ion-card>
							<a routerLink="/los-diez-pueblos" routerDirection="forward"><img src="https://firebasestorage.googleapis.com/v0/b/travelinco-ionic.appspot.com/o/Lomas.jpg?alt=media&token=253a2c2e-e742-4eb7-b8a8-3d6dce9851ab" alt=""></a>
						</ion-card>
						<div class="content">
								<ion-row>
									<ion-col size="8">
                    <a routerLink="/los-diez-pueblos" routerDirection="forward" class="link-title">Los 10 pueblos...</a>
									</ion-col>
									<ion-col size="4">
										<a routerLink="/favoritos"  class="fav" (click)="presentAlert()"> <ion-icon name="heart-empty" color="primary"></ion-icon></a>
                  </ion-col>
									</ion-row>
						</div>
						<div class="description">
							<ion-row>
									<ion-col size="12">
										<p class="text-description">
												Los pueblos más bonitos de Colombia tienen mucho más
											<span class="more">...</span>
										</p>
									</ion-col>
									</ion-row>
						</div>
          </ion-col>
          <ion-col size="6">
              <ion-card>
                  <a routerLink="/sitionuevo" routerDirection="forward"><img src="https://firebasestorage.googleapis.com/v0/b/travelinco-ionic.appspot.com/o/sitionuevo.jpg?alt=media&token=bb3c1bfb-344e-4d01-ba89-56e3ecb4752a" alt=""></a>
                </ion-card>
                <div class="content">
                    <ion-row>
                      <ion-col size="8">
                        <a routerLink="/sitionuevo" routerDirection="forward" class="link-title">Sitionuevo...</a>
                      </ion-col>
                      <ion-col size="4">
                        <a routerLink="/favoritos"  class="fav" (click)="presentAlert()"> <ion-icon name="heart-empty" color="primary"></ion-icon></a>
                      </ion-col>
                      </ion-row>
                </div>
                <div class="description">
                  <ion-row>
                      <ion-col size="12">
                        <p class="text-description">
                            Los pueblos más bonitos de Colombia tienen mucho más...
                          <span class="more">...</span>
                        </p>
                      </ion-col>
                      </ion-row>
                </div>
              </ion-col>
			</ion-row>
		</ion-grid>
	</ion-content>

	<ion-footer>
			<ion-toolbar>
				<ion-row class="ion-align-items-center ion-justify-content-center footer-buttons-row">
					<ion-col size="3" class="ion-text-center"><ion-button fill="clear"><ion-icon name="search" color="primary"></ion-icon></ion-button></ion-col>
					<ion-col size="3" class="ion-text-center"><ion-button fill="clear" routerLink="/favoritos"><ion-icon name="heart-empty" color="primary" ></ion-icon></ion-button></ion-col>
					<ion-col size="3" class="ion-text-center"><ion-button fill="clear" routerLink="/filtros" ><ion-icon name="options" color="primary"></ion-icon></ion-button></ion-col>
					<ion-col size="3" class="ion-text-center"><ion-button fill="clear" routerLink="/usuario"><ion-icon name="person" color="primary"></ion-icon></ion-button></ion-col>
				</ion-row>
			</ion-toolbar>
		</ion-footer>

