<ion-header translucent="true">
    <ion-toolbar>
        <ion-buttons slot="start" translucent>
            <ion-back-button color="primary" class="back-button-custom" text=""></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
    <ion-slides pager="true">
        <ion-slide>
            <ion-img [src]="imgExp"></ion-img>
        </ion-slide>
        <ion-slide>
            <ion-img [src]="imgExp"></ion-img>
        </ion-slide>
        <ion-slide>
            <ion-img [src]="imgExp"></ion-img>
        </ion-slide>
    </ion-slides>
    <br>
    <ion-grid padding>
        <ion-row class="ion-align-items-center">
            <ion-col>
                <ion-card-title class="titulo-name">{{nameExp}}</ion-card-title>
                <ion-card-subtitle class="titulo">{{expPlace}}</ion-card-subtitle>
            </ion-col>
            <ion-buttons>
                <ion-button fill="clear" [routerLink]="['/comentarioLugar/' + id]">
                    <ion-icon name="chatbubbles" color="primary"></ion-icon>
                </ion-button>
                <ion-button fill="clear" (click)="addtoFavorites(namePlace)">
                    <ion-icon name="heart-empty" color="primary"></ion-icon>
                </ion-button>
            </ion-buttons>
        </ion-row>
        <br>

        <ion-row>
            <ion-col size="12">
                <ion-row>
                    <ion-col size="9">
                        <ion-card-title class="titulo-otro">¡Soy {{ownerName}}!</ion-card-title>
                    </ion-col>
                    <ion-col size="3">
                        <ion-avatar>
                            <img [src]="imgOwner" alt="">
                        </ion-avatar>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size="12">
                        <p class="text-description">
                            {{descriptionExp}}
                        </p>
                        <hr>
                    </ion-col>
                </ion-row>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col size="12">
                <ion-row class="ion-justify-content-center">
                    <ion-col>
                        <ion-card-title class="titulo-otro">Mi Experiencia</ion-card-title>
                    </ion-col>
                </ion-row>
                <ion-row *ngFor="let expText of myExperienceArray">
                    <p class="text-description">
                        {{expText}}
                    </p>
                    <br>
                </ion-row>
            </ion-col>
        </ion-row>


        <ion-row>
            <ion-col size="12">
                <ion-row>
                    <ion-col>
                        <ion-card-title class="titulo-otro">Conoce más detalles</ion-card-title>
                    </ion-col>
                </ion-row>
                <ion-col *ngIf="!flagByob" size="12">
                    <ion-row>
                        <ion-col>
                            <ion-card-title class="titulo-mini">¿Qué te recomiendo traer?</ion-card-title>
                        </ion-col>
                    </ion-row>
                    <ion-row *ngFor="let byob of needToBringSomethingArray">
                        <p class="text-description">
                            {{byob}}
                        </p>
                        <br>
                    </ion-row>
                </ion-col>

                <ion-col *ngIf="!flagOffer" size="12">
                    <ion-row>
                        <ion-col>
                            <ion-card-title class="titulo-mini">¿Qué Incluye?</ion-card-title>
                        </ion-col>
                    </ion-row>
                    <ion-row *ngFor="let offer of whatToOffer">
                        <p class="text-description">
                            {{offer}}
                        </p>
                        <br>
                    </ion-row>
                </ion-col>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col size="12">
                <ion-row>
                    <ion-col>
                        <ion-card-title class="titulo-mini">¿Dónde nos veremos?</ion-card-title>
                        <ion-card-subtitle class="titulo">Casa Episcopal, Jericó.</ion-card-subtitle>
                        
                    </ion-col>
                    <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1176.6738796622412!2d-74.25350723494736!3d11.016326519496397!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8ef455d993277c5b%3A0x123f8d300ab84cce!2sCi%C3%A9naga%2C+Magdalena!5e1!3m2!1ses!2sco!4v1558465228044!5m2!1ses!2sco"
                    width="100%" height="250" frameborder="0" style="border:0" allowfullscreen></iframe>
                </ion-row>

            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="12">
                <ion-row>
                    <ion-col>
                        <ion-card-title class="titulo-mini">Idiomas disponibles</ion-card-title>
                    </ion-col>
                </ion-row>

                <ion-row *ngFor="let lange of languages">
                    <p class="text-description">
                        {{lange}}
                    </p>
                    <br>
                </ion-row>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="12">
                <ion-card-title class="titulo-mini">¿Cuándo te gustaría ir?</ion-card-title>
                <ion-item>
                    <ion-label>Fecha</ion-label>
                    <ion-datetime displayFormat="YYYY" pickerFormat="MMM DD YY"
                        month-names="Ene, Feb, Mar, Abr, May, Jun, Jul, Ago, Sep, Oct, Nov, Dic"
                        placeholder="Selecciona la fecha" [(ngModel)]="date"></ion-datetime>
                </ion-item>

                <ion-item>
                    <ion-label>Horario</ion-label>
                    <ion-datetime displayFormat="h:mm A" minuteValues="0,15,30,45" placeholder="Selecciona la hora"
                        [(ngModel)]="hour"></ion-datetime>
                </ion-item>
            </ion-col>
        </ion-row>


    </ion-grid>

    <ion-grid>
        <ion-row class="ion-align-items-center">
            <ion-col size="6">
                <span *ngIf="date !== '' " class="text-date-info"><strong></strong> {{date | slice:0:10}}</span>
                <span *ngIf="date == ''" class="text-date-info"><strong></strong> Ingrese Fecha</span>
            </ion-col>
            <ion-col class="ion-text-right" size="6">
                <span *ngIf="hour !== '' " class="text-date-info"><strong></strong> {{hour | slice:11:19}} </span>
                <span *ngIf="hour == '' " class="text-date-info"><strong></strong> Ingresa la hora </span>
            </ion-col>
        </ion-row>
        <ion-row class="price-select ion-align-items-center">
            <ion-col size="6">
                <span class="text-date-info">{{expPrice}} COP por persona</span>
            </ion-col>
            <ion-col class="ion-text-right" size="6">
                <ion-button routerLink="/select-experience" shape="round" fill="outline" color="primary" class="elegir">
                    Elegir experiencia</ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>

<ion-footer>
    <ion-toolbar>
        <ion-row class="ion-align-items-center ion-justify-content-center footer-buttons-row">
            <ion-col size="3" class="ion-text-center">
                <ion-button fill="clear" routerLink="/los-diez-pueblos">
                    <ion-icon name="search" color="primary"></ion-icon>
                </ion-button>
            </ion-col>
            <ion-col size="3" class="ion-text-center">
                <ion-button fill="clear" routerLink="/favoritos">
                    <ion-icon name="heart-empty" color="primary"></ion-icon>
                </ion-button>
            </ion-col>
            <ion-col size="3" class="ion-text-center">
                <ion-button fill="clear" routerLink="/filtros">
                    <ion-icon name="options" color="primary"></ion-icon>
                </ion-button>
            </ion-col>
            <ion-col size="3" class="ion-text-center">
                <ion-button fill="clear" routerLink="/usuario">
                    <ion-icon name="person" color="primary"></ion-icon>
                </ion-button>
            </ion-col>
        </ion-row>
    </ion-toolbar>
</ion-footer>