<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button color="primary" class="back-button-custom" text=""></ion-back-button>
          </ion-buttons>
          <ion-title class="sitio-title">Ubicación</ion-title>
      </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <ion-buttons padding>
      <ion-button fill="outline" shape="round" size="small" class="filter-button" routerLink="/filtros" routerLinkActive="active">Experiencias</ion-button>
      <ion-button fill="outline" shape="round" size="small" class="filter-button" routerLink="/price-filter" routerLinkActive="active">Precios</ion-button>
      <ion-button fill="outline" shape="round" size="small" class="filter-button" routerLink="/calendar" routerLinkActive="active">Calendario</ion-button>
      <ion-button fill="outline" shape="round" size="small" class="filter-button" routerLink="/map" routerLinkActive="active">Ubicación</ion-button>
    </ion-buttons>
  
    <iframe src="https://snazzymaps.com/embed/157546" width="100%" height="100%" style="border:none;"></iframe>
     
  </ion-content>
  
  <ion-footer>
    <ion-toolbar>
      <ion-row class="ion-align-items-center ion-justify-content-center footer-buttons-row">
        <ion-col size="3" class="ion-text-center"><ion-button fill="clear"><ion-icon name="search" color="primary"></ion-icon></ion-button></ion-col>
        <ion-col size="3" class="ion-text-center"><ion-button fill="clear" routerLink="/favoritos"><ion-icon name="heart-empty" color="primary" ></ion-icon></ion-button></ion-col>
        <ion-col size="3" class="ion-text-center"><ion-button fill="clear" routerLink="/filtros" ><ion-icon name="options" color="primary"></ion-icon></ion-button></ion-col>
        <ion-col size="3" class="ion-text-center"><ion-button fill="clear" routerLink="/usuario"><ion-icon name="person" color="primary"></ion-icon></ion-button></ion-col>
      </ion-row>
    </ion-toolbar>
  </ion-footer>
  
  
