<ion-content class="content-image" fullscreen="true">
  
	<ion-grid padding>
		<ion-row class="ion-align-items-center ion-justify-content-center">
			<ion-col>
				<h1 class="title-login ion-text-center">Iniciar experiencia</h1>
				<ion-button expand="block" class="button-entrar" routerLink="/select-account">Ingresar con Email</ion-button>
        <ion-button class="button-social-facebook" expand="block" routerLink="/select-account"><ion-icon name="logo-facebook" class="icon-button"></ion-icon>Ingresar con facebook</ion-button>
        <ion-button class="button-social-google" expand="block" routerLink="/select-account"><ion-icon name="logo-google" class="icon-button"></ion-icon>Ingresar con Google</ion-button>
			</ion-col>
		</ion-row>
	</ion-grid>
	
</ion-content>

<ion-footer translucent="true" class="footer-home">
  <ion-toolbar>
  	<ion-row class="ion-align-items-center ion-justify-content-center footer-buttons-row">
  		<ion-button fill="clear" routerLink="/lugares" class="footer-button">Entrar</ion-button> | 
  		<ion-button fill="clear" class="footer-button" routerLink="/login">Regístrate</ion-button>
  	</ion-row>
  </ion-toolbar>
</ion-footer>
