<ion-header>
		<ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button color="primary" class="back-button-custom" text=""></ion-back-button>
          </ion-buttons>
      </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-searchbar placeholder="Busca una experiencia"></ion-searchbar>
    <ion-grid>
      <ion-row class="ion-justify-content-center">
        <ion-col size="12">
          <img src="https://firebasestorage.googleapis.com/v0/b/travelinco-ionic.appspot.com/o/sitionuevo.jpg?alt=media&token=bb3c1bfb-344e-4d01-ba89-56e3ecb4752a" alt="">
          <h1 class="title-articulo">Sitionuevo y su corregimiento Nueva Venecia</h1>
          <p class="text">Cuando se llega a Sitionuevo, Magdalena, no es posible apartar la vista de tan colorido municipio, y es que sus calles, casas e inclusive puntos de venta están llenos de vida.</p><br>
        </ion-col>
        <br>
      </ion-row>
    </ion-grid>
  </ion-content>
  
  <ion-footer>
    <ion-toolbar>
      <ion-row class="ion-align-items-center ion-justify-content-center footer-buttons-row">
        <ion-col size="3" class="ion-text-center"><ion-button fill="clear" ><ion-icon name="search" color="primary"></ion-icon></ion-button></ion-col>
        <ion-col size="3" class="ion-text-center"><ion-button fill="clear" routerLink="/favoritos"><ion-icon name="heart-empty" color="primary" ></ion-icon></ion-button></ion-col>
        <ion-col size="3" class="ion-text-center"><ion-button fill="clear" routerLink="/filtros" ><ion-icon name="options" color="primary"></ion-icon></ion-button></ion-col>
        <ion-col size="3" class="ion-text-center"><ion-button fill="clear" routerLink="/usuario"><ion-icon name="person" color="primary"></ion-icon></ion-button></ion-col>
      </ion-row>
    </ion-toolbar>
  </ion-footer>
