
<ion-header>
		<ion-toolbar>
			<ion-buttons slot="start">
				<ion-back-button color="primary" class="back-button-custom" text=""></ion-back-button>
			</ion-buttons>
			<ion-title class="sitio-title">Practica surfing<br><span class="sitio-subtitle">Puerto Colombia, Atlántico</span></ion-title>
			<ion-buttons slot="end">
				<ion-button  fill="clear"><ion-icon name="chatbubbles" color="primary"></ion-icon></ion-button>
				<ion-button  fill="clear"><ion-icon name="heart-empty" color="primary" ></ion-icon></ion-button>
			</ion-buttons>
		</ion-toolbar>
	</ion-header>



<ion-content padding>
	<ion-grid>
		<ion-row>
			<ion-col size="12">
        <p> Nuestro primer encuentro sera frente al mar del Caribe Colombiano en Puerto Colombia, Atlántico, tal vez disfrutando del amanecer o del sunset, preferiblemente escogemos estas horas para dictar nuestras clases 
            de surf.
          </p>
				<h2>¿Qué incluye?</h2>
				<p> Tabla de surf, Rash gard para protegerse del sol. 
				</p>
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-col size="12">
				<h2>Qué te recomiendo traer</h2>
				<p>Protector solar, agua, vestido de baño comodo para hacer ejercicio en el agua y rash gard.</p>
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-col size="12">
				<h2>Dónde nos veremos</h2>
        <p>Hotel Pradomar, Puerto Colombia.</p>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1176.6738796622412!2d-74.25350723494736!3d11.016326519496397!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8ef455d993277c5b%3A0x123f8d300ab84cce!2sCi%C3%A9naga%2C+Magdalena!5e1!3m2!1ses!2sco!4v1558465228044!5m2!1ses!2sco" width="100%" height="250" frameborder="0" style="border:0" allowfullscreen></iframe>
			</ion-col>
    </ion-row>
    <ion-row>
        <ion-col size="12">
          <h2>Idiomas disponibles</h2>
          <p>Español</p>
        </ion-col>
      </ion-row>
		<ion-row>
			<ion-col size="12">
				<h2>¿Cuándo te gustaría ir?</h2>
				<ion-item>
				  <ion-label>Fecha</ion-label>
				  <ion-datetime displayFormat="YYYY"  pickerFormat="MMM DD YY"  month-names="Ene, Feb, Mar, Abr, May, Jun, Jul, Ago, Sep, Oct, Nov, Dic" placeholder="Selecciona la fecha" [(ngModel)]="date"></ion-datetime>
				</ion-item>

				<ion-item>
				  <ion-label>Horario</ion-label>
				  <ion-datetime displayFormat="h:mm A" minuteValues="0,15,30,45"placeholder="Selecciona la hora" [(ngModel)]="hour"></ion-datetime>
				</ion-item>
			</ion-col>
		</ion-row>
	</ion-grid>

	<ion-grid>
			<ion-row class="ion-align-items-center">
				<ion-col size="6">
					<span *ngIf="date !== '' " class="text-date-info"><strong></strong> {{date | slice:0:10}}</span>
					<span *ngIf="date == ''" class="text-date-info"><strong></strong> Ingrese Fecha</span>
				</ion-col>
				<ion-col class="ion-text-right" size="6">
					<span *ngIf="hour !== '' " class="text-date-info"><strong></strong> {{hour | slice:11:19}} </span>
					<span *ngIf="hour == '' " class="text-date-info"><strong></strong> Ingresa la hora </span>
				</ion-col>
			</ion-row>
			<ion-row class="price-select ion-align-items-center">
			<ion-col size="6">
				<span class="text-date-info">96.000 COP por persona</span>
			</ion-col>
			<ion-col class="ion-text-right" size="6">
				<ion-button routerLink="/select-experience" shape="round" fill="outline" color="primary" class="elegir">Elegir experiencia</ion-button>
				</ion-col>
			</ion-row>
		</ion-grid>
</ion-content>

<ion-footer>
		<ion-toolbar>
			<ion-row class="ion-align-items-center ion-justify-content-center footer-buttons-row">
				<ion-col size="3" class="ion-text-center">
				<ion-button fill="clear" routerLink="/lugares"><ion-icon name="search" color="primary"></ion-icon></ion-button></ion-col>
				<ion-col size="3" class="ion-text-center">
					<ion-button fill="clear" routerLink="/favoritos"><ion-icon name="heart-empty" color="primary" ></ion-icon></ion-button>
				</ion-col>
				<ion-col size="3" class="ion-text-center">
					<ion-button fill="clear" routerLink="/filtros" ><ion-icon name="options" color="primary"></ion-icon></ion-button>
				</ion-col>
				<ion-col size="3" class="ion-text-center">
					<ion-button fill="clear" routerLink="/usuario"><ion-icon name="person" color="primary"></ion-icon></ion-button>
				</ion-col>
			</ion-row>
		</ion-toolbar>
	</ion-footer>





