<ion-header>
		<ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button color="primary" class="back-button-custom" text=""></ion-back-button>
          </ion-buttons>
          <ion-title class="sitio-title">Filtros</ion-title>
      </ion-toolbar>
</ion-header>

<ion-content padding>
	<ion-buttons>
		<ion-button fill="outline" shape="round" size="small" class="filter-button" routerLink="/filtros" routerLinkActive="active">Experiencias</ion-button>
		<ion-button fill="outline" shape="round" size="small" class="filter-button" routerLink="/price-filter" routerLinkActive="active">Precios</ion-button>
		<ion-button fill="outline" shape="round" size="small" class="filter-button" routerLink="/calendar" routerLinkActive="active">Calendario</ion-button>
		<ion-button fill="outline" shape="round" size="small" class="filter-button" routerLink="/map" routerLinkActive="active">Ubicación</ion-button>
	</ion-buttons>
	<ion-grid>
			<ion-row>
				<ion-col size="6">
					<ion-card>
							<a routerLink="/lugares/0KDeDy6dOFRUSuDYulwr" routerDirection="forward"><img src="https://firebasestorage.googleapis.com/v0/b/travelinco-ionic.appspot.com/o/jerico.jpg?alt=media&token=e6391f46-327f-4f4f-9113-f186299b62b7" alt=""></a>
						</ion-card>
						<div class="content">
								<ion-row>
									<ion-col size="8">
										<a routerLink="/lugares/0KDeDy6dOFRUSuDYulwr" routerDirection="forward" class="link-title">Jericó</a>
									</ion-col>
									<ion-col size="4">
										<a routerLink="/favoritos"  class="fav" (click)="presentAlert()"> <ion-icon name="heart-empty" color="primary"></ion-icon></a>
									</ion-col>
									</ion-row>
						</div>
						<div class="description">
							<ion-row>
									<ion-col size="12">
										<p class="text-description">
												Hermoso pueblo colonial es 
												de ensueño. 
											<span class="more">...</span>
										</p>
									</ion-col>
									</ion-row>
						</div>
					</ion-col>

					<ion-col size="6">
							<ion-card>
									<a routerLink="/lugares/kHy4KizzRxnZUNp8vLpx" routerDirection="forward"><img src="https://firebasestorage.googleapis.com/v0/b/travelinco-ionic.appspot.com/o/playa-belen.jpg?alt=media&token=1f29f008-ad4a-41bd-a995-e5c2bac4f3f8" alt=""></a>
								</ion-card>
								<div class="content">
										<ion-row>
											<ion-col size="8">
												<a routerLink="/lugares/kHy4KizzRxnZUNp8vLpx" routerDirection="forward" class="link-title">Playa Belén</a>
											</ion-col>
											<ion-col size="4">
												<a routerLink="/favoritos"  class="fav" (click)="presentAlert()"> <ion-icon name="heart-empty" color="primary"></ion-icon></a>
											</ion-col>
											</ion-row>
								</div>
								<div class="description">
									<ion-row>
											<ion-col size="12">
												<p class="text-description">
														Se encuentra rodeado por el Área Única Los Estoraques. 
													<span class="more">...</span>
												</p>
											</ion-col>
											</ion-row>
								</div>
						</ion-col>


						<ion-col size="6">
								<ion-card>
										<a routerLink="/lugares/53dTvfxHp2V1eA7MN0aS" routerDirection="forward"><img src="https://firebasestorage.googleapis.com/v0/b/travelinco-ionic.appspot.com/o/barichara.jpg?alt=media&token=2ae67171-4964-4073-97e9-9c2f9162d40a" alt=""></a>
									</ion-card>
									<div class="content">
											<ion-row>
												<ion-col size="8">
													<a routerLink="/lugares/53dTvfxHp2V1eA7MN0aS" routerDirection="forward" class="link-title">Barichara</a>
												</ion-col>
												<ion-col size="4">
													<a routerLink="/favoritos"  class="fav" (click)="presentAlert()"> <ion-icon name="heart-empty" color="primary"></ion-icon></a>
												</ion-col>
												</ion-row>
									</div>
									<div class="description">
										<ion-row>
												<ion-col size="12">
													<p class="text-description">
															Hermoso pueblo colonial es de ensueño.  
														<span class="more">...</span>
													</p>
												</ion-col>
												</ion-row>
									</div>
							</ion-col>

							<ion-col size="6">
									<ion-card>
											<a routerLink="/lugares/bIR2FDTR2KRKdIZI1LUk" routerDirection="forward"><img src="https://firebasestorage.googleapis.com/v0/b/travelinco-ionic.appspot.com/o/cienaga1.jpg?alt=media&token=e82a0be8-244f-45ee-949a-860d8342a498" alt=""></a>
										</ion-card>
										<div class="content">
												<ion-row>
													<ion-col size="8">
														<a routerLink="/lugares/bIR2FDTR2KRKdIZI1LUk" routerDirection="forward" class="link-title">Ciénaga</a>
													</ion-col>
													<ion-col size="4">
														<a routerLink="/favoritos"  class="fav" (click)="presentAlert()"> <ion-icon name="heart-empty" color="primary"></ion-icon></a>
													</ion-col>
													</ion-row>
										</div>
										<div class="description">
											<ion-row>
													<ion-col size="12">
														<p class="text-description">
																Es conocido como la capital del Realismo Mágico.  
															<span class="more">...</span>
														</p>
													</ion-col>
													</ion-row>
										</div>
								</ion-col>

								<ion-col size="6">
										<ion-card>
												<a routerLink="/lugares/Atw6qpnZfaDSoSdIZG9A" routerDirection="forward"><img src="https://firebasestorage.googleapis.com/v0/b/travelinco-ionic.appspot.com/o/aguadas.jpg?alt=media&token=98556742-e6de-4cf0-a1cb-14e7fa3dc62f" alt=""></a>
											</ion-card>
											<div class="content">
													<ion-row>
														<ion-col size="8">
															<a routerLink="/lugares/Atw6qpnZfaDSoSdIZG9A" routerDirection="forward" class="link-title">Aguadas</a>
														</ion-col>
														<ion-col size="4">
															<a routerLink="/favoritos"  class="fav" (click)="presentAlert()"> <ion-icon name="heart-empty" color="primary"></ion-icon></a>
														</ion-col>
														</ion-row>
											</div>
											<div class="description">
												<ion-row>
														<ion-col size="12">
															<p class="text-description">
																	Conocida como la «ciudad de las brumas»  
																<span class="more">...</span>
															</p>
														</ion-col>
														</ion-row>
											</div>
									</ion-col>

			</ion-row>
		</ion-grid>
</ion-content>

<ion-footer>
  <ion-toolbar>
  	<ion-row class="ion-align-items-center ion-justify-content-center footer-buttons-row">
  		<ion-col size="3" class="ion-text-center"><ion-button fill="clear"><ion-icon name="search" color="primary"></ion-icon></ion-button></ion-col>
  		<ion-col size="3" class="ion-text-center"><ion-button fill="clear" routerLink="/favoritos"><ion-icon name="heart-empty" color="primary" ></ion-icon></ion-button></ion-col>
  		<ion-col size="3" class="ion-text-center"><ion-button fill="clear" routerLink="/filtros" ><ion-icon name="options" color="primary"></ion-icon></ion-button></ion-col>
  		<ion-col size="3" class="ion-text-center"><ion-button fill="clear" routerLink="/usuario"><ion-icon name="person" color="primary"></ion-icon></ion-button></ion-col>
  	</ion-row>
  </ion-toolbar>
</ion-footer>

