<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="primary" class="back-button-custom" text=""></ion-back-button>
    </ion-buttons>
    <ion-title class="sitio-title">Perfil<br><span class="sitio-subtitle"></span></ion-title>
  </ion-toolbar>
</ion-header>

<!-- <img src="https://firebasestorage.googleapis.com/v0/b/travelinco-ionic.appspot.com/o/Lomas.jpg?alt=media&token=253a2c2e-e742-4eb7-b8a8-3d6dce9851ab" alt=""> -->

<ion-content>
  <ion-grid padding>
    <ion-col size="12">
      <ion-row class="ion-justify-content-center">
        <ion-col size="3">
          <ion-avatar>
            <img
              src="https://store.playstation.com/store/api/chihiro/00_09_000/container/TR/tr/99/EP2402-CUSA05624_00-AV00000000000134//image?_version=00_09_000&platform=chihiro&w=720&h=720&bg_color=000000&opacity=100"
              alt="">
          </ion-avatar>

          <!-- <ion-button expand="block" color="danger" (click)="Onlogout()">
                      CERRAR SESIÓN
                  </ion-button>  -->
        </ion-col>

      </ion-row>
      <ion-row class="ion-justify-content-center">
        <ion-col size="12">
          <ion-card-title class="titulo">Sebastian</ion-card-title>
          <p class="text-description">Se unió hace 1 mes...</p>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-card-title class="titulo">Acerca de mi</ion-card-title>
          <p class="text-description">Soy desarrollador</p>
          <ion-input placeholder="Enter Input"></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-card-title class="titulo">Información Personal</ion-card-title>
          <ion-card-subtitle>Sexo</ion-card-subtitle>
          <ion-radio-group>
            <ion-item>
              <ion-label>Male</ion-label>
              <ion-radio slot="start" value="M" checked></ion-radio>
            </ion-item>
             <ion-item>
              <ion-label>Female</ion-label>
              <ion-radio slot="end" value="F" checked></ion-radio>
            </ion-item>
          </ion-radio-group>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-grid>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-row class="ion-align-items-center ion-justify-content-center footer-buttons-row">
      <ion-col size="3" class="ion-text-center">
        <ion-button fill="clear">
          <ion-icon name="search" color="primary"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col size="3" class="ion-text-center">
        <ion-button fill="clear" routerLink="/favoritos">
          <ion-icon name="heart-empty" color="primary"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col size="3" class="ion-text-center">
        <ion-button fill="clear" routerLink="/filtros">
          <ion-icon name="options" color="primary"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col size="3" class="ion-text-center">
        <ion-button fill="clear" routerLink="/usuario">
          <ion-icon name="person" color="primary"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>