.requeriments{
	font-size: 2em;
	font-weight: bold;
	color: #4d4d4d;
}

h2{
	font-size: 1em;
	color: #EC608A
}

p{
	font-size: .9em;
	text-align: justify;
	color: gray;
}

.elegir{
	--color: #EC608A ;
	font-size: .6em;
}

.price-select{
	border-top: 1px solid #C0C0C0;
	padding-top: 13px;
	margin-top: 8px;
}

.text-date-info{
	--color: #414141;
	font-size: .7em;
}

.item-detail-icon{
	display: none;
}