//Variables

ion-content.content-image{
	--background: url('../../../assets/img/background-blur.jpg')  no-repeat center center / cover;
    --ion-background-color:rgba(0,0,0,0);
}

ion-grid{
	height: 100%;
}

ion-grid ion-row{
	height: 100%;
}


ion-header{
	--ion-background-color: rgba(0,0,0,0)
}

ion-footer{
	--ion-background-color: rgba(0,0,0,0)
}



/*
	Titulos
*/


.title-login{
	color: white;
	font-weight: bolder;
	padding: 10px 0;
}

.subtitle-login{
	color: white;
	text-transform: uppercase;
	text-align: center;
	font-size: .8em;
}

.label-login{
	--color: white;
	--highlight-color-focused: rgba(236,96,138, 1);
}

/*
	Buttons
*/

.button-entrar{
	--background: rgba(236,96,138, .5);
	--border-radius: 20px;
	--border-color: white;
	--padding-top: 20px;
	--padding-bottom: 20px;
	margin: 20px 0;
	--background-focused: red;
	--background-activated: rgba(236,96,138,1);
}

.button-social-facebook{
	--background: rgba(236,96,138, .5);
	--border-radius: 20px;
	--border-width: 2px;
	--border-color: rgba(255,255,255,.9);
	--border-style: solid;
	--border-width: 0px;
	--padding-top: 20px;
	--padding-bottom: 20px;
	margin: 20px 0;
	--background-focused: rgba(236,96,138, .5);
	--background-activated: rgba(236,96,138,.5);
}

.button-social-google{
	--background: rgba(236,96,138, .0);
	--border-radius: 20px;
	--border-color: rgba(255,255,255,.9);
	--border-style: solid;
	--border-width: 1px;
	--padding-top: 20px;
	--padding-bottom: 20px;
	margin: 20px 0;
	--background-focused: rgba(236,96,138, .5);
	--background-activated: rgba(236,96,138,.5);
}


.icon-button{
	padding: 0 7px;
}

.footer-button{
	color: white;
}

.footer-buttons-row{
	color: white;
}

.item-inner{
    border-color: white !important;
}